.window, body {
    font: 14px "Century Gothic", Futura, sans-serif;
    color: white;
    margin: 0;
    /*font-weight: bold;*/
    font-size: large;
    background-color: #743a69;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

td {
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
    /*border: 1px solid #000;*/
    border-collapse: collapse;
    background-color: #743a69;
    color: white;
    font-weight: bold;
    font-size: large;
}